packages:
  yum:
    jq: []

commands:
  "01":
    command: curl https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar -o /usr/local/bin/wp
  "02":
    command: chmod +x /usr/local/bin/wp

container_commands:
  02_install_wordpress_core:
    command: sudo /tmp/install_wp.sh "$(pwd)/wp" "$(pwd)"

files:
  "/tmp/install_wp.sh":
      mode: "000755"
      content : |
        #!/bin/bash

        WP_PATH=$1
        CONFIG_FILE_PATH=$2

        if [ ! -f "$CONFIG_FILE_PATH" ]; then
          echo "$CONFIG_FILE_PATH file is require to be able to install wordpress";
          exit 1;
        fi

        WP_CORE_VERSION=$(cat $CONFIG_FILE_PATH | jq '.version')

        echo "Running: /usr/local/bin/wp core download --path=$WP_PATH --skip-content --version=$WP_CORE_VERSION --allow-root"
        /usr/local/bin/wp core download --path=$WP_PATH --skip-content --version=$WP_CORE_VERSION --allow-root